<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permiso para acceder a Internet -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VitaConect_Movil"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <!-- Actividad de registro de usuarios -->
        <activity android:name=".RegistrarUsuarios" />

        <!-- Actividad de menú principal -->
        <activity
            android:name=".MenuPrincipal"
            android:exported="false" />

        <!-- Actividad principal (MainActivity) que lanza la aplicación -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".agregar_gestionproductos" />
        <activity android:name=".modificar_gestionproductos" />
        <activity android:name=".agregar_gestionproveedores" />
        <activity android:name=".modificar_gestionproveedores" />
        <activity android:name=".agregar_gestionlaboratorios" />
        <activity android:name=".modificar_gestionlaboratorios" />
        <activity android:name=".agregar_gestionpresentaciones" />
        <activity android:name=".modificar_gestionpresentaciones" />
        <activity android:name=".agregar_gestiontiproductos"/>
        <activity android:name=".modificar_gestiontiproductos"/>
        <activity android:name=".FacturaActivity"/>
        <activity android:name=".agregar_gestionlotes"/>
        <activity android:name=".modificar_gestionlotes"></activity>

    </application>

</manifest>
